<div id="header-wrap">
  <div id="header">
    <h1><a href="http://localhost:3001/" title="Homepage"><img alt="Logo-insoshi" src="/images/logo-insoshi.png?1231577647" /></a></h1>
    <ul id="nav">
      <li class="n-dashboard"><%= link_to 'Dashboard', home_path %></li>
      <li class="n-profile"><%= link_to 'Profile',user_path(logged_in_user) %></li>
      <li class="n-messages"><%= link_to 'Messages' %></li>
      <li class="n-people"><%= link_to 'People' %></li>
      <li class="n-forum"><%= link_to 'Forum',forums_path %></li>
    </ul>
    <p class="welcome">
    Welcome, <%= logged_in_user.username%>!
    (<%= link_to '登出', logout_path %>)
    </p>
  </div>
</div>
<div id="wrap">
  <div id="content">
    <div class="col1">
        <h2>Edit Your Profile</h2>
        <div id="profile_edit">
          <% form_for :user,:url => user_path(logged_in_user), :html => { :method => :put } do |f|%>
            <div class="form_row">
              <label for="person_name">Name</label>
              <%= f.text_field :username %>
            </div>
            <div class="form_row">
              <label for="person_email">Email</label>
              <%= f.text_field :email %>
            </div>
            <h3>Public Description</h3>
            <p class="meta">This is what other users of the system see as your 
            description.</p>
            <div class="form_row">
              <%= f.text_area :description %>
              <script type="text/javascript">
                //<![CDATA[
              var oFCKeditor = new FCKeditor('person_5_description_editor', '100%', '350px', 'InsoshiBase');
              oFCKeditor.BasePath = "/javascripts/fckeditor/"
              oFCKeditor.Config['CustomConfigurationsPath'] = '/javascripts/fckcustom.js';
              oFCKeditor.ReplaceTextarea();
              //]]>
              </script>
            </div>
            <br />
            <div class="form_row">
              <%= submit_tag 'Update', :class => 'button'%>
              <a href="/people/5-aaaaaa">Cancel</a>
            </div>
            <input type="hidden" name="type" value="info_edit" />
          <% end %>
        </div>
    </div>
      <div class="col2">  <h2>Change Your Password</h2>
        <% form_for :user do |f|%>
          <div style="margin:0;padding:0">
            <input name="_method" type="hidden" value="put" />
            <input name="authenticity_token" type="hidden" value="7fec12bd52321d4eb80e122292ba71950a49886c" />
          </div>
          <div class="form_row">
            <label for="password">当前密码</label>
            <%= f.password_field :current_password, :class => 'input', :size => 40 %>
          </div>
          <div class="form_row">
            <label for="password">新密码</label>
            <%= f.password_field :password, :class => 'input', :size => 40 %>
          </div>
          <div class="form_row">
            <label for="password_confirmation">新密码确认</label>
            <%= f.password_field :password_confirmation, :class => 'input', :size => 40 %>
          </div>
          <div class="form_row">
            <%= submit_tag '更改密码', :class => 'button'%>
          </div>
          <input type="hidden" name="type" value="password_edit" />
        <% end %>
      </div>
  </div>
