<%= render :partial => 'activeheader'%>
<div id="wrap">
  <div id="content">
    <% if flash[:notice] %>
      <div class="flash notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div id="profile" style="display: none;">
      <div id="tabCol"><ul><li><a href="#tProfile"><span>Profile</span></a></li><li><a href="#tWall"><span>Wall</span></a></li><li><a href="#tRecentActivity"><span>Recent Activity</span></a></li><li><a href="#tContacts"><span>Contacts</span></a></li><li><a href="#tBlog"><span>Blog</span></a></li><li><a href="#tGalleries"><span>Galleries</span></a></li></ul>
        <%= render :partial => 'profile'%>
        <%= render :partial => 'wall'%>
        <%= render :partial => 'recentactivity'%>
        <%= render :partial => 'contact'%>
        <%= render :partial => 'blog'%>
        <%= render :partial => 'galleries'%>
      </div>
    </div>
    <script type='text/javascript'>
      $(document).ready(function() {
          // Set up the tabs.
          $("#tabCol > ul").tabs();
          $("#profile").show();
          })
    </script>
      </div>
    </div>
  </div>
</div>
